
table{
    margin: auto;
    border-collapse: collapse;
     
}

p{  text-align: center ;
    line-height:40px ;}

h2,
th,

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 25px;
}


th{
    font-size: 20px;;
}


